<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
<label for="zebra">Enter a number</label>
<input id="zebra" type="text" name="users_number2">
<button>Calculate square root</button>
</form>
