<h1>Payment Results</h1>

<form action="/payment/results">

<label for="jax">APR</label>
<input id="jax" type="text" name="apr">

<label for="ez">Number of years</label>
<input id="ez" type="text" name="years">

<label for="nu">Principal</label>
<input id="nu" type="text" name="principal">

<button>Calculate monthly payment</button>
</form>
